<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="test"/>
        <!-- Use SQLite in-memory database for faster tests -->
        <env name="DATABASE_URL" value="mysql://root:root@db:3306/db_name"/>
        <!-- Use InMemoryTransport for Messenger testing -->
        <env name="MESSENGER_TRANSPORT_DSN" value="in-memory://"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
    </php>
</phpunit>
